
.wrapper {
    max-width: 320px;
    margin: 2em auto;
   }
   body {
     margin-bottom: 50px; /* إضافة هامش أسفل الصفحة لمنع انتزاع المحتوى من الهيدر */
   }
   .zz00 {
     position: fixed;
     bottom: -40px; /* زيادة المسافة من الأسفل إلى 10 بكسل */
     width: 100%;
     margin-bottom: 5px;
     text-align: center;
     padding: 10px;
     z-index: 1000;
   }
   
   
   .phone {
     border: 2px solid #ffffff;
     background: #ffffff;
     border-radius: 15px; /* تصغير شكل الهاتف */
     position: relative;
     padding-bottom: 55px; /* تقليل ارتفاع المستطيل */
     height: 0;
     overflow: hidden;
     width: 100%;
     height: auto;
     box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15); /* تقليل حجم الظل */
   }
   
   .nav--icons {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    right: 1em;
   }
   .nav--icons ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
   }
   .nav--icons ul li a {
   font-family: Almarai;
    font-size: 11px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    display: flex;
    align-items: center;
    border-radius: 3em;
    padding: 0.75em 1.25em;
    transition: 0.6s ease-in-out;
   }
   .nav--icons ul li a span {
    display: inline-block;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    padding-left: 0.5em;
    transform: translate3d(-0.5em, 0, 0);
    transition: opacity 0.6s, max-width 0.6s, transform 0.6s;
    transition-timing-function: ease-in-out;
   }
   .nav--icons ul li a:hover,
   .nav--icons ul li a.is-active {
    color: #000000;
    background-color: #ffffff;
   }
   .nav--icons ul li a:hover span,
   .nav--icons ul li a.is-active span {
    opacity: 1;
    max-width: 40px;
    transform: translate3d(0, 0, 0);
   }