.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255); /* لون الطبقة البيضاء */
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease; /* تعيين تأثير التحول */
  opacity: 1; /* الشفافية الابتدائية */
  z-index: 100000;
}

.overlay.hidden {
  opacity: 0; /* الشفافية بعد التخفي */
  pointer-events: none; /* تعطيل الحوادث بعد التخفي */
}

.overlay-content {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}



/**********************************************************/
        .overlaymain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255); /* لون أبيض شفاف */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* تأكد من عرض الطبقة فوق كل شيء آخر */
        transition: opacity 1s; /* مدة التأثير 1 ثانية */

}



    
/**********************************************************/

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #FFA500;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 8px;
  animation: flip1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 8px;
  animation: flip2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 32px;
  animation: flip2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 56px;
  animation: flip3 0.6s infinite;
}

@keyframes flip1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flip3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes flip2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
